.email-details {
    display: flex;
    flex-direction: column;
    padding: 20px 2rem;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.email-details img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.email-details>* {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.email-details .icons,
p {
    width: 80%;
}