.email-details {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.email-details img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.email-details h3 {
    font-weight: normal;
}

.email-details>* {
    display: flex;
    justify-content: space-between;
    width: 100%;
}