.note-app{
    padding: 2rem;
    position: relative;

}

.note-app hr{
    width: 100%;
}

.pinned-notes{
    margin-bottom: 40px;
}

@media (max-width: 580px) {
    .note-app{
        padding: 0rem;
    }
}