* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button {
    background-color: unset;
    border: none;
    padding: 3px;
    color: rgb(95, 96, 96);
    cursor: pointer;
}

hr {
    margin: 20px;
}