.flex{
    display: flex;
}

.flex.column{
    flex-direction: column;
}
.flex.space-between{
    justify-content: space-between;
}

.input-size{
    width: 70%;
}

.textarea-size{
    width: 70%;
    height: 100px;

}