.flex{
    display: flex;
}

.flex.column{
    flex-direction: column;
}
.flex.space-between{
    justify-content: space-between;
}
.flex.center{
    align-items: center;
    justify-content: center;
}

.flex.align-center{
    align-items: center;
    
}

.input-size{
    width: 90%;
}

.textarea-size{
    width: 90%;
    height: 100px;

}

.no-border{
    border: none;
}
.no-border:focus{
    outline: none;
}
.no-rezise{
    resize: none;
}

.filter-container{
    width: 90%;
}