.email-side-bar {
    display: flex;
    /* flex-direction: column; */
    gap: 8px;
    flex: 1;
    flex-wrap: wrap;
}

.email-side-bar img {
    height: 21px;
    width: 21px;
    cursor: pointer;
}

.email-side-bar .add {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 0.3em;
    border: 1.5px solid black;
    cursor: pointer;
}

.email-side-bar h4 {
    color: rgb(86, 76, 76);
    font-size: 0.8rem;
}

.email-side-bar>*:not(:first-child) {
    display: flex;
    align-items: center;
    gap: 10px;
}

.email-side-bar .folder:hover {
    transform: scale(1.2);
}

.email-side-bar .add img {
    height: 22px;
    width: 22px;
}

.email-side-bar .count {
    color: rgb(244, 68, 68);
    font-size: 0.7rem;
}

@media (min-width: 640px) {
    .email-side-bar {
        flex-direction: column;
        gap: 15px;
        flex: 1;
    }
}