.email-side-bar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.email-side-bar>* {
    cursor: pointer;
}

.email-side-bar img {
    height: 23px;
    width: 23px;
}

.email-side-bar .add {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 0.4em;
    border: 1.5px solid black;
}

.email-side-bar h3 {
    font-weight: bold;
}

.email-side-bar>*:not(:first-child) {
    display: flex;
    align-items: center;
    gap: 15px;
}

.email-side-bar>*:hover {
    color: rgb(116, 136, 149);
}

.email-side-bar .add img {
    height: 25px;
    width: 25px;
}

.email-side-bar .count {
    color: rgb(244, 68, 68);
}