.email-side-bar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.email-side-bar img {
    height: 23px;
    width: 23px;
    cursor: pointer;
}

.email-side-bar .add {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 0.4em;
    border: 2px solid black;
    cursor: pointer;
}

.email-side-bar h3 {
    font-weight: bold;
}

.email-side-bar>*:not(:first-child) {
    display: flex;
    align-items: center;
    gap: 15px;
}

.email-side-bar .add img {
    height: 25px;
    width: 25px;
}