.email-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.457);
}

.email-preview .email-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.email-preview:hover {
    background-color: rgb(189, 196, 203);
}

.email-preview h4 {
    font-weight: normal;
    font-size: 1rem;
    color: rgb(86, 76, 76)
}

.email-preview .unread {
    font-weight: bold;
}

.email-preview img {
    background-color: none;
    height: 21px;
    width: 21px;
}

.email-preview .star {
    flex: 2;
    cursor: pointer;
}

.email-preview .mail-content {
    flex: 22;
}

.email-preview.email-preview .icons {
    flex: 2
}

.email-preview .email-container .from {
    flex: 3;
}

.email-preview .email-container .txt {
    flex: 15;
    flex-direction: column;
    align-items: flex-start;
}

.email-preview .email-container .date {
    flex: 2;
    color: bisque;
    align-self: center;
}

.email-preview .mail-content .link {
    width: 100%;
}

.email-preview .email-container .txt p {
    flex: 4;
    font-size: 0.7rem;
    color: rgba(138, 140, 141, 0.706);
    font-weight: normal
}

/* MEDIA QUERY */

@media (min-width: 640px) {

    .email-preview {
        flex-direction: row;
        align-items: center;
    }

    .email-preview img {
        background-color: none;
        height: 15px;
        width: 15px;
    }

    .email-preview .email-container {
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
        padding: 0 20px;
    }

    .email-preview .email-container .txt {
        flex-direction: row;
        align-items: center;
        gap: 0.7rem;
    }

    .email-preview .star {
        opacity: 0;
        margin-left: 15px;
    }

    .email-preview:hover .star {
        opacity: 10;
    }

    .email-preview button {
        opacity: 0;
    }

    .email-preview:hover button {
        opacity: 10;
        padding-block-end: 0;
    }

    .email-preview h4 {
        font-size: 0.8rem;
    }
}