.email-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.457);
    gap: 5px;
}

.email-preview .email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    padding: 0 20px;
}

.email-preview:hover {
    background-color: rgb(189, 196, 203);
}

.email-preview h4,
p {
    font-weight: normal;
}

.email-preview p {
    font-size: 0.8rem;
    color: rgba(138, 140, 141, 0.706);
}

.email-preview .unread {
    font-weight: bold;
}

.email-preview img {
    background-color: none;
    height: 25px;
    width: 25px;
}

.email-preview button {
    display: none;
}

.email-preview:hover button {
    display: inline-block;
    padding-block-end: 0;
}

.mail-content {
    flex: 10;
}

.email-preview .icons {
    flex: 1
}

.email-container .from {
    flex: 2;
}

.email-container .txt {
    flex: 8;
    gap: 0.7rem;
    flex-direction: column;
}

.email-container .date {
    flex: 2;
}

.mail-content .link {
    width: 100%;
}

.email-container .txt p {
    flex: 4;
}


/* MEDIA QUERY */

@media (min-width: 640px) {

    .email-preview {
        flex-direction: row;
    }

    .email-preview .email-container {
        flex-direction: row;
        gap: 1.5rem;
        padding: 0 20px;
    }

    .email-preview .email-container .txt {
        flex-direction: row;
    }
}