.email-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.email-filter select {
    border: none;
    background-color: rgba(154, 203, 187, 0.2);
    height: 35px;
    text-align: center;
}

.email-filter input[type="text"] {
    border: none;
    background-color: rgba(154, 203, 187, 0.2);
    color: lightslategrey;
    height: 35px;
    min-width: 300px;
    border-inline-end: 1px solid black;
}

.email-filter .icon {
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
}