.main-footer {
    position: absolute;
    bottom: 0;
    padding: 20px 20px;
    width: 100%;
    background: lightgreen;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}