.note-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.note-edit-container {
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.457);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    width: 50%;
    background-color: white;
}

.note-edit-modal {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.note-edit img {
    height: 1.562rem;
    width: 1.562rem;
    cursor: pointer;
    
}

.note-edit .icons {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}
@media (max-width: 640px) {
    .note-edit-container{
        width: 90%;
    }
}