.note-edit-txt {
    width: 100%;
}

.note-edit-modal.note-edit-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.note-edit-txt input{
    padding: 5px;
    font-size: 1rem;
}

.note-edit-txt textarea{
    padding: 5px;
    font-size: 0.9rem;
}

.note-edit-txt img {
    height: 30px;
    width: 30px;
}