.note-preview {
    padding: 15px;
    max-width: 250px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.457);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}


.note-preview .title {
    font-weight: bold;
}

.note-preview img {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}

.note-preview .icons{
    gap:1rem;
}