.user-msg {
    position: fixed;
    top: 80px;
    right: -100px;
    padding: 10px 5px;
    border: 1px solid black;
    background-color: whitesmoke;
    text-align: center;
    color: black;
}

.user-msg button {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
}

.user-msg.success {
    background-color: #B4FF9F;
}

.user-msg.danger {
    background-color: #FFA1A1;
}